<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE appendix PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "../SIMP_Documentation.ent">
%BOOK_ENTITIES;
]>
<appendix id="appe-sc-RPM">
  <title>SIMP Common RPMs</title>
<% if stubbin_time then -%>
    <warning>
      <para>
        If you're seeing this, then this wasn't built within the code
        tree and should NOT be used in production.
      </para>
    </warning>
<% else -%>
<%
rpm_info.keys.sort.each do |dist|
  dist = dist.split('_').last

  if rpm_info["Ext_#{dist}"] and not rpm_info["Ext_#{dist}"].empty? then
-%>
  <section id="RPMS_<%= dist %>">
  <title><%= dist %> RPMs</title>
	  <table frame="all">
	    <title><%= dist %> RPMs</title>
	    <tgroup cols="2">
	      <colspec colname="c1"/>
	      <colspec colname="c2"/>
	      <thead>
		<row>
		  <entry>RPM</entry>
		  <entry>URL</entry>
		</row>
	      </thead>
	      <tbody>
<%   rpm_info["Ext_#{dist}"].keys.sort.each do |rpm| -%>
    <row>
      <entry><%= rpm %></entry>
<%     if rpm_info["Ext_#{dist}"][rpm] =~ /^\s*http/ then -%>
      <entry><ulink url="<%= rpm_info["Ext_#{dist}"][rpm] -%>"><%= rpm_info["Ext_#{dist}"][rpm] -%></ulink></entry>
<%     else -%>
      <entry><%= rpm_info["Ext_#{dist}"][rpm] -%></entry>
<%     end -%>
<%    rpm_info["Ext_#{dist}"].keys.sort.each do |rpm| -%>
<%   end -%>
    </row>
<%  end -%>
      
	      </tbody>
	    </tgroup>
	  </table>
    </section>
<%
  end
end
-%>
<% end # Stubbin Time! -%>
</appendix>
