<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE appendix PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "SIMP_Documentation.ent">
%BOOK_ENTITIES;
]>
<!--<appendix id="appe-simp_docs-Changelog">-->
<appendix>
  <title>SIMP RPMs</title>
<% if stubbin_time then -%>
    <warning>
      <para>
        If you're seeing this, then this wasn't built within the code
        tree and should NOT be used in production.
      </para>
    </warning>
<% else -%>
  <simpara>
    This provides a comprehensive list of all SIMP RPMs and related
    metadata. Most importantly, it provides a list of which modules
    are installed by default and which are simply available in the
    repository.
  </simpara>
  <simpara>
    The data will be updated over time as users request additional
    information.
  </simpara>
  <simpara>
    <revhistory>
      <revision>
        <revnumber><%= doc_product_number[:version] %>-<%= doc_product_number[:release] %></revnumber>
        <date><%= Time.now.strftime("%a %b %d %Y") %></date>
        <author>
          <firstname>SIMP</firstname>
          <surname>Team</surname>
        </author>
        <revdescription>
          <table>
            <title>SIMP RPM Metadata</title>
            <tgroup cols='3' align='center' colsep='1' rowsep='1'>
              <colspec colname='c1'/>
              <colspec colname='c2'/>
              <colspec colname='c3'/>
              <thead>
                <row>
                  <entry align='center'>Name</entry>
                  <entry align='center'>Version</entry>
                  <entry align='center'>Installed by Default</entry>
                </row>
              </thead>
              <tbody>
<% modules.keys.sort.each do |k| -%>
                <row>
                  <entry><%= modules[k][:info][:name] %></entry>
                  <entry><%= modules[k][:info][:version] %>-<%= modules[k][:info][:release] %></entry>
<%  if !modules[k][:installed] then -%>
                  <entry align='center'><emphasis role='bold'>true</emphasis></entry>
<%  else -%>
                  <entry align='center'>false</entry>
<%  end -%>
                </row>
<% end -%>
              </tbody>
            </tgroup>
          </table>
        </revdescription>
      </revision>
    </revhistory>
  </simpara>
<% end -%>
</appendix>

